.login {
  width: 100vw;
  height: 100vh;
  display: flex;
}
@media screen and (max-width: 412px) {
  .login {
    flex-direction: column;
  }
}

.image {
  flex-basis: 50%;
  height: 100%;
  object-fit: cover;
}

.login h1 {
  font-size: 36px;
}
